{:deps {org.clojure/clojure {:mvn/version "1.9.0"}
        cheshire/cheshire {:mvn/version "5.13.0"}
        clj-http/clj-http {:mvn/version "3.13.0"}
        ring/ring-core {:mvn/version "1.12.2"}}}
