{:deps {org.clojure/clojure {:mvn/version "1.7.0"}
        cheshire/cheshire {:mvn/version "5.11.0"}
        clj-http/clj-http {:mvn/version "3.12.3"}
        ring/ring-core {:mvn/version "1.10.0"}}}
